.container{
    width: 80%;
    margin: 0 auto;
}

#firstLine{
    height: 130px;
}

#editProfile, #followBtn, #delete, #viewSubscribers{
    margin: 23px;
}

#secondLine{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

#firstLine #username, #firstLine #editProfile{
    float: left;
}

#followBtn{
    float: right;
}

.newsItem{
    border: 2px solid;
    padding: 5px;
    margin: 3px;
}

#message{
    width: 86%;
}
#news{
    border:2px solid;
    padding: 2px;
}

.dialog {
    left: 31%;
    position: fixed;
    width: 13%;
    background: white;
    padding: 10px;
}
#followDialog{
    position: fixed;
    width: 13%;
    background: white;
    padding: 10px;
    right: 31%;
}